.emailRow{
    padding-top:2%;
}

.ctrBox{
    outline: 2px solid #b0986d;
    outline-offset: 5px;
    background: white;
    padding: 5% 5% 5% 5%;
}

.rr{
    background: red;
}
.labelName{
    font-size: 15px;
}
